.item-details{
    margin-top: 75px;
}

.prop{
    color: #3273dc;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card{
        min-width: 80%;
        margin: 15px;
        a {
            color: #3273dc;
            font-weight: 500;
            &:hover{
                color: #4c6fa7;
            }
        }
    }
}